/* Navbar styles */
.navbar {
  background-color: #3b7d4a;
  color: white;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 1rem;
  position: fixed; /* Makes the navbar fixed at the top */
  top: 0; /* Positions the navbar at the very top */
  left: 0; /* Ensures it spans the full width */
  width: 100%; /* Ensures it covers the full width of the viewport */
  z-index: 1000; /* Places it above other elements */
  display: flex;
  justify-content: space-between;

}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-logo-img {
  width: 40px;
  height: 40px;
}

.navbar-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;

}

.menu-toggle {
  position: fixed; /* Fixes the button to the screen */
  top: 5px;
  right: 20px; /* Adjusts the distance from the right edge */
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;

  color: white;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-menu.open {
  display: block;
}

.nav-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
}

.nav-button span {
  display: inline-block;
}

.nav-button:hover{
  background-color: darkgreen;
  border-radius: 0.25rem;
  color: white;
}
.nav-button.active {
  background-color: darkgreen;
  border-radius: 0.25rem;
  color: white;
}

.language-selector {
  padding: 0.25rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  margin-right: 20px;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .menu-toggle {
    display: block;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    z-index: 10;
  }

  .navbar-menu.open {
    display: flex;
  }

  .nav-button {
    justify-content: center;
    padding: 1rem;
  }

  .language-selector {
    margin-top: 1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

}
