/* General Styles */
.settings-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #333;
  
}

.settings-container.dark-mode {
  background: #121212;
  color: #f9f9f9;
}

.settings-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.settings-section {
  margin-bottom: 20px;
}

.settings-section-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.settings-option {
  margin-bottom: 10px;
}

.settings-option label {
  font-size: 16px;
  cursor: pointer;
}

.settings-reset-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #ff6b6b;
  color: #fff;
  
}

.settings-reset-button:hover {
  background: #e53935;
}
.dark-mode{
  background: black;
}
